.select {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 4px;

  select {
    display: inline;
  }
}

.tabs A:link, .tabs A:visited {
  text-decoration: none !important;
}

.MainHeader, .Navigation, .SQBSHeader {
  font-size: 10pt;

  h1,
  h2,
  h3,
  h4,
  h6 {
    font-size: unset;
    font-weight: bolder;
  }
}

body {
  margin: 8px;
}
